<div>
  <h1 class="text-center display-3 text-dark pt-5">User Management</h1>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card px-5 py-5">
          <div class="form-data">
            <div class="mb-4 w-100">
              <label for="login-email">Email</label>
              <input id="login-email" type="text" autocomplete="off" class="form-control" [(ngModel)]="email">
            </div>
            <div class="mb-4">
              <label for="login-password">Password</label>
              <input id="login-password" type="password" class="form-control" [(ngModel)]="password">
            </div>
            <div class="mb-3">
              <button class="btn btn-dark w-100" (click)="handleLogin()">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
